.svg-map {
  width: 100%;
  height: auto;
  stroke: rgb(0, 0, 0);
  stroke-width: 0.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  
}
  
.svg-map__location {
  fill: rgb(42, 182, 42);
  cursor: pointer; 
  transition:0.9s ease-in-out;

}
    
.svg-map__location:focus, .svg-map__location:hover {
  fill: #fbeb09;
  transition:0.9s ease-in-out;
  outline: 0; 
}
    
.svg-map__location[aria-checked="true"] {
  fill: #ff4f5b;
}

.map-container {
  background-image: url("https://opengameart.org/sites/default/files/oceanNew.gif");
  /* background-image: url("https://img1.picmix.com/output/stamp/normal/9/0/2/5/1645209_33009.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px; 
  height: 750px;  
  border:4px solid black;
  border-radius: 14px; 
  overflow: hidden;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.map-country-name {
  font-family: 'Varela Round';
  font-size: 24px;
  width: 66vw;
  height: 20px;
  background: linear-gradient(rgba(147, 226, 1, 0.433) 10%, rgba(243, 230, 48, 0.667) 90%);
  margin: 1px;
  padding-top: 8px;
  padding-bottom: 14px;
  border: 4px solid black; 
  border-radius: 13px; 
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.map-country-name > span {
  margin: 0;
}

