.svg-map {
  width: 100%;
  height: auto;
  stroke: rgb(0, 0, 0);
  stroke-width: 0.4;
  stroke-linecap: round;
  stroke-linejoin: round;
}
  
.svg-map__location {
  fill: rgb(42, 182, 42);
  cursor: pointer; 
}
    
.svg-map__location:focus, .svg-map__location:hover {
  fill: #f6e600;
  outline: 0; 
}
    
.svg-map__location[aria-checked="true"] {
  fill: #ff4f5b;
}

.map-container {
  background-image: url("https://opengameart.org/sites/default/files/oceanNew.gif");
  width: 1200px; 
  height: auto; 
  border:4px solid black;
  border-radius: 14px; 
  overflow:hidden;
  text-align: center;
}

.map-country-name {
  width: 1200px;
  height: 20px;
  background:#f8ca00;
  margin: 1px;
  padding: 0;
  border: 4px solid black; 
  border-radius: 14px; 
  text-align: center;
}

.map-country-name > span {
  margin: 0;
}

.svg-map-box {
  width: 100%;
}